@import url(reset.css);

body {
    width: 1200px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.header-logo {
    font-size: 40px;
    font-weight: bold;
}

.header-navigation a {
    padding: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.header-end a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.header-end button {
    border: none;
    background-color: #ffcc01;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.company-info {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 630px;
}

.company-info__content {
    grid-row: 2 / 2;
    grid-column: 1 / 4;
    z-index: 1;
    justify-items: center;
}

.company-info__title {
    font-size: 60px;
    font-weight: bold;
    color: #1f373d;
}

.company-info__search {
    margin-top: 60px;
    border: none;
}

.company-info__search input {
    height: 70px;
    width: 350px;
    border: none;
    margin: 0;
}

.company-info__search button {
    border: none;
    height: 72px;
    width: 115px;
    background-color: #ffcc01;
    margin-left: -5px;
    border-radius: 4px;
}

.company-info__background {
    background-color: #96bece;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    align-items: end;
}

.container-background-phone {
    background-color: #ffcc01;
    height: 10%;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-background-phone img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.container-background-position {
    background-color: #ffcc01;
    height: 10%;
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-background-position img {
    margin-right: 15px;
    width: 30px;
    height: 30px;
}


.company-statistic {
    margin-top: 150px;
    height: 450px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.company-statistic__title {
    font-size: 45px;
}

.company-statistic__title h1 {
    color: black;
}

.company-statistic__text {
    grid-column-start: 1;
    grid-row-start: 2;
    line-height: 40px;
    font-size: 13px;
    font-weight: 200;
}

.company-statistic__carts {
    margin-left: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 31px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 6;
}

.company-statistic__content {
    background-color: #f6f5f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.company-statistic__title {
    font-size: 50px;
    color: #ffcc01;
    padding-bottom: 15px;
}

.company-statistic__main-text {
    font-size: 18px;
    font-weight: 800;
}

.rent-container {
    margin-top: 80px;
    background-color: #f6f5f4;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rent-container_height {
    height: 600px;
}

.rent-container-title {
    padding-top: 65px;
    height: 10%;
    font-size: 28px;
}

.rent-container-example {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    margin-bottom: 20px;
}

.rent-container-example-item {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #b1d7e8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rent-container-example-item__gray {
    background-color: #cdccce;
}

.item-content {

}

.item-content-image {

}

.item-content-description {
    height: 60px;
    background-color: white;
    padding: 25px;
}

.description-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.price {
    font-size: 18px;
    color: #ffcc01;
    align-self: flex-end;
}

.info-container {
    display: flex;
}

.info {
    display: flex;
    align-self: flex-end;
}

.info-image {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    align-self: flex-end;
}

.info-text {
    align-self: flex-end;
    margin-right: 20px;
}

.rent-container-end {
    height: 10%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 85px;
}

.rent-container-view button {
    border: none;
    height: 70px;
    width: 250px;
    border-radius: 4px;
    margin-left: 50px;
    background-color: white;
}

.how-works-container {
    margin-top: 60px;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.how-works-title {
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 45px;
    margin-bottom: 50px;
}

.how-works-title h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.how-works-title h3 {
    font-weight: 300;
}

.how-work-blocks {
    display: flex;
    flex-direction: row;
}

.how-work-blocks-item {
    width: 345px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.how-work-blocks_yellow {
    background-color: #ffcc01;
    color: #f6f5f4;
}

.how-work-blocks-container {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-bottom: 100px;
}

.how-work-blocks-item-number {
    height: 150px;
    width: 345px;
    font-size: 150px;
}

.blocks-item-title {
    font-size: 20px;
    width: 250px;
}

.how-work-blocks-main-text {
    width: 250px;
    padding-top: 15px;
    padding-left: 10px;
    line-height: 45px;
}

.how-work-blocks-find {
    padding-left: 10px;
}

.how-work-blocks-find-link {
    text-decoration: none;
    border-bottom: 2px;
    width: fit-content;
    border-bottom-style: solid;
    padding-bottom: 10px;
    color: black;
}

.how-work-blocks-find-link_white {
    color: #f6f5f4;
}

.service-container {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-background {
    background-color: #96bece;
    width: 650px;
    height: 650px;
}

.service-content {
    width: 450px;
}

.how-works-title__width {
    width: auto;
    line-height: 35px;
}

.agent-container {
    margin-top: 80px;
    background-color: #f6f5f4;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add {
    height: 650px;
    margin-top: 80px;
}

.add-container {

}

.add-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.add-background {
    height: 340px;
    width: 540px;
    background-color: #96bece;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.add-position {
    background-color: #ffcc01;
    height: 50px;
    width: 250px;
    grid-column-start: 2;
    grid-row-start: 3;
    top: -90px;
}

.add-position img {
    width: 20px;
    height: 20px;
}

.add-text {
    width: 50%;
    font-size: 24px;
    line-height: 45px;
    align-self: center;
}
